body {
  width: 960px;
}

.sitetitle {
  font-size: 48px;
  font-family: "Georgia";
  font-style: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sitesubtitle {
  font-size: 28px;
  font-family: "Georgia";
  margin-top: 10px;
  margin-bottom: 10px;
}
